:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .cell__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    line-height: 100%;
    overflow: hidden;
    caret-color: transparent;
    color: var(--solutionColor);
    &.selected {
      font-weight: 700;
    }
    &.readonly {
      color: var(--puzzleColor);
    }
  }

  .possible_value__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .possible_value {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--possibleValueColor);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.3em;
    &.selected {
      font-weight: 700;
    }
  }
}
