/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  min-width: 320px;
  min-height: 480px;
  overflow: auto;
}

body {
  --headerHeight: 60px;
  --controlsHeight: 60px;

  --puzzleColor: brown;
  --solutionColor: darkmagenta;
  --possibleValueColor: darkgreen;

  margin: 0px;
  height: 100dvh;
  width: 100vw;

  h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
  }
}
