.control__button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  font-size: 20px;
  color: black;
  background-color: lightyellow;
  border: 1px solid black;
  border-radius: 4px;
}
