:host {
  background-color: limegreen;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
}

.title {
  font-size: 24px;
}
