:host {
  --menuWidth: 150px;

  display: block;
  height: 100%;
  .navbar {
    height: 100%;
    background-color: limegreen;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
  }

  .menu__wrapper {
    position: relative;
  }

  .menu__button {
    padding: 0px;
    background: none;
    border: none;
    font-size: 30px;
  }

  .menu__ancher {
    position: absolute;
    right: calc(var(--menuWidth) + 4px);
    top: 36px;
  }

  .menu__container {
    position: fixed;
    width: var(--menuWidth);
    height: 0px;
    transition: height 500ms;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    overflow: hidden;

    &.expanded {
      height: 100px;
    }
  }

  .menu__backdrop {
    position: fixed;
    background: transparent;
    inset: 0;
    z-index: 1;
  }
}
