:host {
  display: block;
  width: 100%;
  height: 100%;
}

header {
  display: block;
  height: var(--headerHeight);
  max-height: var(--headerHeight);
  width: 100%;
  overflow: hidden;
}
main {
  height: calc(100% - var(--headerHeight));
  display: block;
  overflow: auto;
}
